<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="css/filmsStyle.css">
    <script>
        function submit() {
            document.getElementById("logout").submit();
        }
    </script>
</head>
<body>
<nav>
    <div class="navBar">
        <h1 class="navHeader">GhibliHub</h1>
        <form id="logout" th:action="@{/logout}" method="post">
            <a onclick="submit()" href="#" class="button">Logout</a>
        </form>
        <a href="/about" class="button">About</a>

<!--        <a href="/profile" class="button">Profile</a>-->

        <a href="/films" class="button">Films</a>
        <a href="/home" class="button">Home</a>
    </div>
</nav>

<center>
    <div class="pageHeader">
        <h1 style="color: white;"> About </h1>
    </div>
    <h3 style="color: white;">Developers: Douglas Ramirez &#8226; Christopher Zhang &#8226; Brett Davis &#8226; Jintao Lin</h3>
    <hr>
    <br>
    <div class="parentContainer">
        <div class="boxCenterWrapper">
            <h2 style="color: white;">Tech Stack</h2>

            <div class="container">
                <h2>Front-end</h2>
                <hr>
                <h3>HTML</h3>
                <h3>CSS</h3>
                <h3>JavaScript</h3>
                <h3>Thymeleaf</h3>
            </div>

            <div class="container">
                <h2>Back-end</h2>
                <hr>
                <h3>Java 8</h3>
                <h3>Spring 5</h3>
                <h3>Spring Security</h3>
                <h3>PostgreSQL</h3>
                <h3>Apache Maven</h3>
            </div>

            <div class="container">
                <h2>Other Technologies</h2>
                <hr>
                <h3>AWS Elastic Beanstalk</h3>
                <h3>AWS CodeBuild</h3>
                <h3>AWS CodePipeline</h3>
                <h3>AWS RDS</h3>
                <h3>DBeaver</h3>
                <h3>Postman</h3>
                <h3>Git</h3>
            </div>
        </div>
    </div>
</center>

</body>
</html>
