<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="css/filmsStyle.css">
    <script>
        function submit() {
            document.getElementById("logout").submit();
        }
    </script>
</head>
<body>
<nav>
    <div class="navBar">
        <h1 class="navHeader">GhibliHub</h1>
        <form id="logout" th:action="@{/logout}" method="post">
            <a onclick="submit()" href="#" class="button">Logout</a>
        </form>
        <a href="/about" class="button">About</a>

        <!--        <a href="/profile" class="button">Profile</a>-->
        <a href="/films" class="button">Films</a>
        <a href="/home" class="button">Home</a>
    </div>
</nav>
<center>
    <h1 style="color: WHITE;">Profile</h1>
</center>

</body>
</html>
